<h1>New camp</h1>

<%= render "form", camp: @camp %>

<br>

<p>City ID / City Name</p>
<% @cities.each do |city| %>
  <p><%= city.id %> / <%= city.name %></p>
<% end %>

<div>
  <%= link_to "Back to camps", root_path, class: "btn btn-dark" %>
</div>


